version: "3.9"

services:

  backend:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: student-backend
    ports:
      - "8000:8000"

  frontend:
    build:
      context: ./frontend
    container_name: student-frontend
    ports:
      - "3000:3000"
    environment:
      REACT_APP_API_URL: http://localhost:8000
    depends_on:
      - backend
